
:root {
  /* colors */
  --clr-bg: #f4f5f9;
  --clr-bg-read: #f2f2f2;
  --clr-text: #636363;
  --clr-accent: #e54065;
  --clr-neutral-light: #fff;
  --clr-border: #cfd2dc;
  --clr-btn: #e1e4ea;

  /* font sizes */
  --fs-600: 2rem;
  --fs-450: 1.0.8rem;
  --fs-400: 1.05rem;
  --fs-300: .95rem;
}

/* resets */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/* p {
  word-break: break-word;
} */

a {
  color: unset;
  text-decoration: none;
}

ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}



body {
  background-color: var(--clr-bg);
  color: var(--clr-text);
  font-size: var(--fs-400);
}

body::-webkit-scrollbar {
  display: none;
}


/* utils */

.container {
  max-width: 90rem;
  margin-inline: auto;
  padding-inline: 1rem;
  padding-block: 2.5rem;

  @media (min-width: 32em) {
    padding-inline: 2rem;
  }
}


.truncate {
  display: box; 
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}


